<extend name="Base/base"/>
<block name="title">首页</block>
<block name="main">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-brand" style="font-size: 2em">后台管理系统</p>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a>您好,{$username}</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)" id="btn-logout">退出</a></li>
            </ul>
        </nav>
        <hr style="margin: 0px">
    </div>
    <div style="height: 30px;"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h4>筛选条件</h4>
                <hr>
                <div>
                    <select id="select-status" class="form-control" style="width: 20%;display: inline">
                        <option value='1'>待审核人选</option>
                        <option value='2'>通过审核人选</option>
                        <option value='3'>没通过审核人选</option>
                    </select>

                    <select id="select-department" class="form-control" style="width: 20%;display: inline">
                        <option value='1'>移动组</option>
                        <option value='2'>Web组</option>
                        <option value='3'>美工组</option>
                    </select>


                </div>
                <h4>名单 </h4>
                <hr>
                <volist name="roster_list" id="vo">
                    <table ellspacing="0" class="table table-bordered table-hover col-md-10 col-md-offset-2"
                           style="width: 60%">
                        <tbody>

                        <tr>
                            <td><strong>姓名</strong></td>
                            <td>{$vo['name']}</td>
                            <td><strong>专业</strong></td>
                            <td>{$vo['major']}</td>
                        </tr>
                        <tr>
                            <td><strong>年级</strong></td>
                            <td>{$vo['grade']}</td>
                            <td><strong>联系方式</strong></td>
                            <td>{$vo['phone']}</td>
                        </tr>
                        <tr>
                            <td><strong>加入意向</strong></td>
                            <td>{$vo['department']}</td>
                            <td><strong>申请序号</strong></td>
                            <td>{$vo['id']}</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <strong>个人简介</strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align:left;"><br>
                                {$vo['intro']}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>审核状态</strong>
                            </td>
                            <td>

                                <switch name="vo.status">
                                    <case value='1'><span class="label label-warning">待审核</span></case>
                                    <case value='2'><span class="label label-success">通过</span></case>
                                    <default/>
                                    <span class="label label-default">不通过</span>
                                </switch>
                            </td>
                            <td style="text-align: center;">
                                <if condition="$vo['status'] eq 1 ">
                                    <button name="btn-pass" class="btn btn-default" data-id="{$vo['id']}">进入面试</button>
                                </if>
                            </td>
                            <td style="text-align: center;">
                                <if condition="$vo['status'] eq 1 ">
                                    <button name="btn-unpass" class="btn btn-default" data-id="{$vo['id']}">取消面试</button>
                                </if>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </volist>
                <div class="btn-group col-md-10 col-md-offset-4 " style="margin-bottom: 30px">
                    <button type="button" class="btn btn-default" id="btn-pre">上一页</button>
                    <button type="button" class="btn btn-default" disabled="disabled">{$page | default=1}</button>
                    <button type="button" class="btn btn-default" id="btn-next">下一页</button>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        var status = "{$status}" || 1;
        var department = "{$department}" || 1;
        var page = parseInt("{$page}") || 1;
        //        var limit = "{$limit}" || 10;
        var tpl = location.pathname + "?status={status}&department={department}&page={page}";

        (function ($) {
            //初始化选择栏
            $('#select-status').val(status);
            $('#select-department').val(department);

            $('#btn-logout').on('click', function () {
                $.get("{:U('Api/User/logout','','')}", function (data) {
                    if (data.code) {
                        location = location;
                    } else {
                        alert('退出失败');
                    }
                });
            });

            $('#select-status').on('change', function () {
                var url = tpl.replace('{status}', $(this).val()).replace('{department}', department).replace('{page}', 1);
                console.log(url);
                location = url;
            });

            $('#select-department').on('change', function () {
                var url = tpl.replace('{status}', status).replace('{department}', $(this).val()).replace('{page}', 1);
                console.log(url);
                location = url;
            });

            $('#btn-pre').on('click', function () {
                page = page - 1 > 0 ? page - 1 : 1;
                var url = tpl.replace('{status}', status).replace('{department}', department).replace('{page}', page);
                console.log(url);
                location = url;
            });

            $('#btn-next').on('click', function () {
                page = page + 1;
                var url = tpl.replace('{status}', status).replace('{department}', department).replace('{page}', page);
                console.log(url);
                location = url;
            });

            $('[name=btn-pass]').on('click',function(){
                var d = {
                    'id' : $(this).data('id')
                };

                $.post("{:U('Api/Roster/pass','','')}",d,function(data){
                    console.log(data);
                    if(data.code){
                        location = location;
                    }else{
                        alert('操作失败');
                    }
                });
            });

            $('[name=btn-unpass]').on('click',function(){
                var d = {
                    'id' : $(this).data('id')
                };

                $.post("{:U('Api/Roster/unpass','','')}",d,function(data){
                    console.log(data);
                    if(data.code){
                        location = location;
                    }else{
                        alert('操作失败');
                    }
                });
            });
        })(jQuery);
    </script>

</block>