<extend name="Base/base"/>
<block name="title">登陆</block>
<block name="main">
    <div align="center">
        <div>
            <h1>{$title}</h1>
        </div>

        <div>
            <p>
                <label>用户名</label>
                <input class="text-input" type="text" id="username"/>
            </p>

            <p>
                <label>密码</label>
                <input class="text-input" type="password" id="password"/>
            </p>

            <p>
                <label>
                    <button class="btn btn-primary" id="btn-login">登陆</button>
                </label>
                <label>
                    <a href="{:U('Admin/Console/register')}">
                        <button class="btn btn-primary">注册</button>
                    </a>
                </label>
            </p>
        </div>
    </div>
    <script type="application/javascript">
        (function ($) {

            $('#btn-login').on('click', function () {
                var username = $('#username').val();
                var password = $('#password').val();
                if (username === '' || password === '') {
                    alert('不能为空');
                    return;
                }
                $.post("{:U('Api/User/login','','')}", {
                    username: username,
                    password: password
                }, function (data) {
                    console.log(data);
                    if (data.code) {
                        location = "{:U('Admin/Console/home')}";
                    } else {
                        alert(data.msg);
                    }
                }, 'json');
            });
        })(jQuery);
    </script>
</block>