<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><block name="title">报名系统</block></title>
    <block name="header">
        <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
        <script src="__PUBLIC__/bootstrap/js/jquery-1.11.1.min.js"></script>
    </block>
</head>
<body>
<block name="top"></block>
<block name="menu"></block>
<block name="left"></block>
<block name="main"></block>
<block name="right"></block>
<block name="footer"></block>
</body>
</html>